.slider {
  --slideMaxWidth: 900px;
  --slideMargin: 10px;
  --marginInline: 0;
  margin-inline: var(--marginInline);
  display: flex;
  flex-direction: column;

  @include tablet-l {
    --marginInline: calc(var(--padding-inline) * -1);
    --slideMargin: 15px;
  }

  @include mobile-l {
    --slideMargin: 10px;
  }

  &__list {
    mask-image: linear-gradient(to right, transparent 0, #fff 100px, #fff calc(100% - 100px), transparent 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-inline: calc((100% - var(--slideMaxWidth)) / 2);

    @include desktop-s {
      mask-image: none;
      gap: 0;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    padding: 0;
    width: calc(100% - var(--slideMargin) * 4);
    max-width: var(--slideMaxWidth);
    flex-shrink: 0;
    scroll-snap-align: center;
    container-type: size;
    margin: var(--slideMargin) calc(var(--slideMargin) * 2) calc(var(--slideMargin) * 1.5) !important;
    overflow: hidden;
    transition: scale .3s;

    &:not([data-selected]) {
      scale: .85;
    }
  }

  &__controls {
    width: 100%;
    max-width: var(--slideMaxWidth);
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px calc(var(--slideMargin) * 2);

    & > * {
      margin: 0 !important;
    }

    @include mobile-l {
      padding-block: 0;
    }
  }

  &__rotate-right,
  &__rotate-left {
    position: relative;
  }

  &__rotate-right::before,
  &__rotate-left::before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background-image: url('../images/arrow.svg');
    background-size: 100%;
  }

  &__rotate-left::before {
    transform: rotate(-180deg);
  }

  &__pagination {
    &-list {
      display: flex;
      align-items: center;
      padding: 0;
    }

    &-item {
      display: flex;
    }

    &-button {
      padding: 15px;
      background: transparent;
      border: none;

      &::after {
        content: "";
        display: block;
        width: 12px;
        aspect-ratio: 1;
        border: 3px solid var(--color-accent);
        border-radius: 50%;
        transition: background-color .3s;
      }

      &[data-selected]::after {
        background-color: var(--color-accent);
      }

      @include hover() {
        scale: 1.1;
      }

      &:active {
        transition: scale .1s;
        scale: 0.9;
      }
    }
  }
}