body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--line-height-base);
  color: var(--color-dark);
  background: url('/images/background.jpg') var(--color-light-alt);
  padding-top: var(--header-height);
}

h1, h2, h3, h4 {
  font-weight: var(--font-weight-high);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}